.heading-page-presentation {
	display: flex;
	flex-direction: row;
}
.logo {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	border-style: solid;
	border-color: red;
}
.title {
	display: flex;
	flex-direction: row;
	border-style: solid;
}

